{% extends "base.html" %}

{% block content %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Profesores</h1>
        <ul>
            {% for p in profes  %}
            <li>{{ p }}</li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Cursos</h1>
        <ul>
            {% for c in cursos  %}
            <li>{{ c }}</li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Aulas</h1>
        <ul>
            {% for a in aulas  %}
            <li>{{ a }}</li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}